@charset 'utf-8';

body {
    width: 100%;
    font-family: Times, 'Times New Roman', 'FreeSerif', serif;
    margin-bottom: 0px;
}

section, article, header, footer, aside {
    display: block;
}

h1 {
    margin-bottom: 0px;
    font-weight: normal;
    color: #1A1A1A;
}

h2 {
    font-size: 200%;
    font-weight: normal;
    color: #1A1A1A;
}

h3 {
    font-size: medium;
    font-weight: normal;
}

p {
    font-size: small;
}

a {
    text-decoration: none;
    color: #06b;
}

a img {
    border: none;
}
