#flickr_badge_source_txt {
    padding:0;
    font: 11px Arial, Helvetica, Sans serif;
    color: #666666;
}
#flickr_badge_icon {
    display:block !important;
    margin:0 !important;
    border: 1px solid rgb(0, 0, 0) !important;
}
#flickr_icon_td {
    padding:0 5px 0 0 !important;
}
.flickr_badge_image {
    text-align:center !important;
}
.flickr_badge_image img {
    border: 1px solid black !important;
}
#flickr_www {
    display:block;
    padding:10px 10px 0 10px !important;
    font: 11px Arial, Helvetica, Sans serif !important;
    color: #3993ff !important;
}
#flickr_www strong {
    color: #3993ff;
}
#flickr_www span {
    color: #ff1c92;
}
#flickr_badge_uber_wrapper a:hover,
#flickr_badge_uber_wrapper a:link,
#flickr_badge_uber_wrapper a:active,
#flickr_badge_uber_wrapper a:visited {
    text-decoration:none !important;
    background:inherit !important;
    color: #3993ff;
}
#flickr_badge_wrapper {
    background-color: #ffffff;
}
#flickr_badge_source {
    padding:0 !important;
    font: 11px Arial, Helvetica, Sans serif !important;
    color: #666666 !important;
}
#flickr div {
    margin-bottom: 15px;
}
#flickr div a {
    margin: 5px;
}
#flickr div img {
    border: 1px solid #000;
}
