@charset "utf-8";

body {
    font-family: Times, serif;
    text-align: center;
}

body em {
    font-weight: bold;
}

#container {
    width: 800px;
    text-align: left;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Verdana, sans-serif;
}

h1 {
    font-size: 150%;
    margin-top: 30px;
    text-align: center;
}

h1 a {
    text-decoration: none;
    border: none;
}

h2 {
    font-size: 120%;
    line-height: 150%;
    border-bottom: 2px solid #000;
    margin: 20px 0;
}

h3 {
    font-size: 100%;
    line-height: 150%;
    border-bottom: 1px solid #6d6d6d;
    font-weight: bold;
    margin: 10px 0;
    margin-top: 20px;
}

h4 {
    font-weight: bold;
    margin: 10px 0;
    margin-top: 20px;
}

form {
    color: #585858;
    background-color: #f5f5f5;
    border-top: 1px dashed #d3d3d3;
}

form input, form select {
    background-color: #fff;
    border: 1px solid #c6c6c6;
    padding: 3px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #06b;
    border-bottom: 1px dotted;
}

p {
    padding: 10px 0;
}

code {
    border: 1px solid #d3d3d3;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    background-color: #f5f5f5;
    font-family: Courier, Consolas, Monaco, monospace;
    letter-spacing: 1px;
    padding: 3px;
}

pre {
    margin: 6px 0;
    border: 1px solid #d3d3d3;
    border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    background-color: #f5f5f5;
}

pre code {
    display: block;
    padding: 8px;
    border: none;
    line-height: 1.5em;
}

ol, ul {
    padding-top: 5px;
    padding-left: 30px;
}

ol li {
    padding: 3px;
    list-style-type: decimal;
}

ul li {
    list-style-type: circle;
    padding: 5px;
}

hr {
    color: #fff;
    border-width: 0px;
    padding: 10px;
}

blockquote {
    margin-top: 1em;
    border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    background-color: #ddd;
}

blockquote p {
    margin-left: 20px;
    line-height: 2em;
    text-align: left;
}

blockquote pre {
    background-color: #000;
    border: none;
}

blockquote pre code {
    background: none;
    font-weight: bold;
    color: #fff;
}

table {
    margin-bottom: 2em;
}
tr, th, td {
    padding: 3px;
    border: 1px solid #ccc;
    font-family: Courier, Serif;
    border-top-left-radius: 0.4em;
    -moz-border-top-left-radius: 0.4em;
    -webkit-border-top-left-radius 0.4em;
}

th {
    background-color: #ccc;
    font-family: Consolas, monaco, sans-serif;
    text-align: center;
}

#menu {
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 800px;
}

#menu ul {
    float: right;
    padding: 0;
    padding-top: 5px;
}

#menu li {
    display: block;
    float: left;
    padding: 0;
}

#menu li a {
    display: block;
    padding: 10px;
    padding-top: 5px;
    /*  font-weight: bold; */
    border: none;
    letter-spacing: 1px;
}

#menu li.current a {
    border-top: 3px solid;
    padding-top: 2px;
}

#footer {
    font-size: 95%;
    color: #999;
    margin: 50px 0;
    font-family: Tahoma, sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

#footer p {
    padding: 5px 0;
}
